* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
}

header img {
    display: block;
}

.buttons_section {
    display: flex;
}

.attribution {
    display: none;
}